@use '../util' as *;

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.022em;
  margin: 0;
}

/* prettier-ignore */
h1 { font-size: rem(36); }

/* prettier-ignore */
h2 { font-size: rem(30); }

/* prettier-ignore */
h3 { font-size: rem(24); }

/* prettier-ignore */
h4 { font-size: rem(18); }

/* prettier-ignore */
h5 { font-size: rem(14); }

/* prettier-ignore */
h6 { font-size: rem(12); }

a {
  color: var(--bs-primary);
  &:link,
  &:visited,
  &:focus,
  &:active {
    color: var(--bs-primary);
    text-decoration: none;
    transition: var(--transition);
  }

  &:hover {
    text-decoration: underline;
  }
}

.heading {
  &__line,
  &__line-center {
    display: grid;
    grid-template-columns: rem(10) max-content 1fr;
    gap: rem(10);
    align-items: center;
    border: none;
    padding-block-end: 0;
    padding-inline-start: 0;
    background: none;
    margin: 0;
    margin-block-end: rem(25);
    width: 100%;
    font-size: inherit;
    font-style: italic;
    color: var(--bs-gray-dark);

    &::before,
    &::after {
      content: '';
      display: block;
      height: rem(1);
      background-color: var(--clr-light-gray-2);
    }

    &-center {
      grid-template-columns: 1fr max-content 1fr;
    }
  }
}

.tabs__header {
  text-align: center;
  font-weight: 500;
  font-size: rem(16);
}
