@use '../util' as *;

.merchColumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.merchItem {
  flex: 0 0 47%;

  @include breakpoint(medium) {
    flex: 0 0 23%;
  }
}

a.merchLink {
  p.merchTitle {
    color: var(--bs-gray-dark);
  }
}

p.merchTitle {
  font-weight: 500;
  font-size: inherit;
  margin: 0;
  margin-block-end: rem(10);
  font-style: italic;
  text-wrap: balance;
}

span.regularPriceTitle,
span.salePriceTitle {
  display: none;
}

span.merchPriceRegular {
  text-decoration: line-through;
}

p.merchRegular,
p.merchPrice {
  display: inline;
  font-weight: normal;
}

p.merchNumber {
  margin-block-end: rem(5);
  font-style: italic;
}

p.merchSalePrice.red,
p.merchPrice.red {
  color: var(--bs-primary);
  font-style: italic;
  font-weight: normal;
  display: inline;
  margin-inline-start: rem(10);
}

.merchResultsSelect {
  margin: 0;
}

.merchLink {
  &:hover,
  &:active {
    opacity: 0.7;
    transition: var(--transition);
    text-decoration: none;
  }
}

.merchItem {
  margin-block-end: rem(35);
}

.merchItem.col-xs-12 {
  margin: rem(20) auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include breakpoint(medium) {
    align-items: stretch;
  }

  .merchimage.col-sm-2.col-xs-12 {
    flex: 1 100%;
    z-index: 99999;

    @include breakpoint(medium) {
      flex: 1 60%;
    }
  }

  .merchInfo.col-sm-10.col-xs-12 {
    flex: 1 100%;
    font-size: rem(16);

    @include breakpoint(medium) {
      flex: 1 60%;
    }

    .merchTitle {
      margin: rem(15) auto;
      font-size: rem(24);
      font-style: italic;
      font-weight: 500;
      color: var(--bs-primary);

      @include breakpoint(medium) {
        font-size: rem(20);
      }
    }

    .merchDesc {
      margin: rem(15) auto;
      padding: rem(10) 0 rem(20);
      border-top: rem(1) solid var(--bs-gray-dark);
      border-bottom: rem(1) solid var(--bs-gray-dark);
      position: relative;
      line-height: 1.6;
    }
  }

  p.merchItem,
  p.merchPrice {
    margin-block-end: rem(10);
  }

  p.merchPrice {
    display: block;
  }

  p.merchSizeTitle,
  p.merchLogoTitle {
    margin-block-end: 0;
  }

  .lcsSizeWrapper,
  .lcsLogoWrapper {
    padding-block-end: rem(10);
    border-bottom: rem(1) solid var(--bs-gray-dark);
  }

  .lcsSizeWrapper {
    margin-block-end: rem(10);
  }

  .lcsLogoWrapper {
    margin-block-end: rem(20);
  }

  .addToCartButton {
    margin-block-end: rem(20);
  }
}

.img-empty {
  background-color: var(--clr-light-gray);
  border: rem(1) solid var(--clr-light-gray-3);
  width: 100%;
  height: rem(200);
  max-width: rem(600);
  color: var(--bs-gray-dark);
  position: relative;

  @include breakpoint(medium) {
    height: rem(600);
  }

  p {
    @include absCenter;
    font-size: rem(45);
    text-align: center;

    @include breakpoint(medium) {
      font-size: rem(100);
    }
  }
}

.empty-results {
  margin: rem(20) 0;

  h1 {
    color: var(--bs-primary);
    font-weight: 500;
    font-size: rem(30);
    margin-block-end: rem(15);
  }
}

// Breadcrumbs
.breadcrumb {
  padding-inline-start: 0;
  margin-bottom: 0;

  li a.small {
    font-size: rem(12);
  }
}

li.attribute {
  a {
    cursor: default;
    color: hsl(from var(--clr-dark-gray) h s l / 0.95);

    &:hover {
      text-decoration: none;
    }
  }
}

.newBadge,
.saleBadge {
  position: absolute;
  color: var(--bs-white);
  top: rem(5);
  left: rem(5);
  font-weight: 500;
  padding: rem(5) rem(10);
  font-size: rem(14);
  text-transform: uppercase;
  z-index: 1;

  &::after {
    display: none;
  }
}

.pagination > li > a,
.pagination > li > span {
  font-size: rem(25);
  padding: rem(20);

  @include breakpoint(medium) {
    font-size: rem(18);
    padding: rem(4) rem(8);
  }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

// Previously Viewed Items
// Featured Items
.card.previousDynamic .card-header,
.card.featuredDynamic .card-header,
.card.checkoutDynamic .card-header {
  font-size: rem(25);
  margin: 0 0 rem(25);
  width: 100%;
  padding-bottom: rem(10);
  border-bottom: rem(1) solid var(--bs-gray-dark);
  display: block;
  text-align: center;

  span {
    display: inline-block;
    background-color: var(--bs-white);
    padding: rem(10);
    background-color: inherit;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: rem(10);
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;

    span {
      padding: 0;
    }

    &::before,
    &::after {
      content: '';
      height: rem(1);
      display: block;
      background-color: currentColor;
    }
  }
}

.card.previousDynamic,
.card.featuredDynamic,
.card.checkoutDynamic {
  max-width: rem(1170);
  margin: rem(20) auto 0;
  border: none;
}

.dynamicCard .card-body .row.col-12 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dynamicLeftArrow {
  left: 0;

  @include breakpoint(medium) {
    left: rem(20);
  }
}

.dynamicRightArrow {
  right: 0;

  @include breakpoint(medium) {
    right: rem(20);
  }
}

// Merchandise Detail Page
ul.breadcrumb {
  display: none;
}

.flexslider {
  margin: rem(10) auto;
  padding-block-end: rem(15);
  border-bottom: rem(1) solid var(--clr-light-gray-2);
  text-align: center;

  @include breakpoint(medium) {
    position: relative;
    display: flex;
    margin: 0;
    border: none;
  }
}

.flex {
  &-control {
    &-nav {
      display: flex;
      align-items: center;
      justify-self: center;
      gap: rem(20);
      margin: 0;
      padding: 0;
      list-style: none;
      margin-block-start: rem(15);

      li {
        max-width: rem(100);
        aspect-ratio: 1 / 1;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        text-align: center;

        img {
          cursor: pointer;
          opacity: 0.5;
          border: rem(1) solid var(--clr-medium-gray);
          padding: rem(3);

          &.flex-active {
            opacity: 1;
            cursor: default;
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    &-control {
      &-nav {
        display: block;
        flex: 1 20%;
        height: rem(500);
        margin-block-start: rem(30);
        overflow-y: auto;

        li {
          margin: 0;
          margin-inline: auto;

          &:not(:last-child) {
            margin-block-end: rem(15);
          }
        }

        &::-webkit-scrollbar {
          width: rem(8);
          border-radius: 0;
          border: none;

          &-track {
            background-color: transparent;
            border-radius: 0;
          }

          &-thumb {
            background-color: rgb(197 5 12 / 0.4);
            border-radius: 0;
          }
        }
      }
    }
  }
}

.merch {
  &__detail {
    display: flex;
    flex-direction: column;
    margin: 0 auto rem(20);
    padding: 0 rem(5);
    justify-content: space-between;

    &-slides {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-img {
      width: 100%;
      max-width: rem(600);
    }

    &-info {
      font-size: rem(16);
    }

    &-title {
      margin: rem(15) auto;
      font-size: rem(28);
      font-style: italic;
      font-weight: 500;
      color: var(--bs-primary);
      text-wrap: balance;

      &-small {
        font-size: rem(22);
        font-weight: 500;
      }
    }

    &-price {
      font-size: rem(24);
      font-weight: 500;
      margin-block-end: rem(10);

      .original {
        text-decoration: line-through;
        margin-right: rem(10);
      }

      .sale {
        color: var(--bs-primary);
      }
    }

    &-description {
      position: relative;
      margin: rem(15) auto;
      padding: rem(10) 0 rem(20);
      border-top: rem(1) solid var(--bs-gray-dark);
      border-bottom: rem(1) solid var(--bs-gray-dark);
      line-height: 1.6;
    }

    &-size {
      position: relative;
      margin: rem(15) auto;
      padding: 0 0 rem(15);
      border-bottom: rem(1) solid var(--bs-gray-dark);

      &-label {
        margin-block-end: rem(20);
      }

      &-link {
        &:link,
        &:visited {
          text-decoration: underline;
          font-size: rem(16);
          text-transform: lowercase;
          margin-inline-start: rem(5);
          color: var(--bs-gray-dark);
        }
      }
    }
  }

  @include breakpoint(medium) {
    &__detail {
      flex-direction: row;
      padding: 0;

      &-images {
        width: auto;
        flex: 1 60%;
      }

      &-slides {
        flex: 1 80%;
        order: 2;
      }

      &-info {
        flex: 1 40%;
        padding-inline-end: rem(24);
      }

      &-title {
        font-size: rem(24);
        text-align: left;

        &-small {
          font-size: rem(16);
        }
      }

      &-price {
        font-size: rem(14);
      }

      &-size {
        &-label {
          margin-block-end: rem(15);
        }

        &-link {
          &:link,
          &:visited {
            font-size: rem(12);
          }
        }
      }
    }
  }
}

.merchDisclaimerError,
.merchSelectError,
.addGiftErrorLCS,
.addGiftError {
  position: fixed;
  padding: rem(20);
  bottom: rem(5);
  left: rem(5);
  right: rem(5);
  z-index: 2000;
  background: rgb(242 222 222 / 0.9);
  color: #a94442;
  border: rem(1) solid #ebccd1;
}
