@use '../util' as *;

html {
  font-style: normal;
  font-weight: normal;
  scrollbar-gutter: stable;
}

html,
body {
  margin: 0 auto;
  inline-size: 100%;
  box-sizing: border-box;
  block-size: 100%;
  background: var(--bs-white);
  color: var(--bs-secondary);
  font-family: var(--ff-primary);
}

body {
  position: relative;
  overflow-x: hidden;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

.page-wrapper {
  margin-inline: auto;
  max-inline-size: var(--default-page-width);
  margin-block-start: rem(24);
}
