@use '../util' as *;

.pageHelp,
.merchTop,
.viewfiltersDiv,
.bottomButtons,
.searchCatWrap,
.sortCatWrap {
  display: none;
}

.sortCatWrap {
  width: 100%;
}

#ContainDiv.contain.container {
  width: 100%;
  max-width: var(--default-page-width);
  margin-inline: auto;
  padding: 0;
}
