@use '../util' as *;

.footer {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  overflow: hidden;

  &__top {
    position: relative;
    z-index: 30;
    background-color: var(--bs-white);
    padding: rem(25) 0;
  }
  &__banner {
    &:link,
    &:visited {
      display: block;
      margin: rem(25) 0;
      padding: rem(25);
      background: var(--clr-medium-gray-2);
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 500;
      color: var(--clr-dark-gray-100);
      line-height: 1.25;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__membership {
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    &-link {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__inner,
  &__bottom {
    margin: 0 auto;
    padding: rem(36) rem(36) 0;
    max-width: var(--default-page-width);
  }

  &-menu {
    &__title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: rem(18);
      margin: 0;
      margin-block-end: rem(4);
    }

    ul {
      padding: 0;
      margin: 0;
      margin-block-end: rem(20);
      list-style: none;

      li {
        margin: 0;
        padding-block-end: rem(4);
        line-height: rem(20);
        font-size: rem(16);

        a {
          color: var(--bs-white);
          padding: 0;
          padding-block: rem(8);
        }

        a.phone {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: rem(50);
          font-weight: 500;
          background-color: var(--bs-success);
          width: auto;
          padding-inline: rem(10);
          margin: rem(10) rem(10) 0 0;
          text-decoration: none;

          &::before {
            font-family: 'FontAwesome';
            content: '\f095';
            padding: 0 rem(5) 0 0;
          }
        }
      }
    }
  }

  &__inner {
    border-bottom: rem(1) solid var(--bs-white);
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(24);
    position: relative;
    margin: 0 auto rem(48);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    text-align: center;
    text-wrap: balance;

    &::after {
      position: absolute;
      bottom: 0px;
      left: rem(1110);
      height: rem(600);
      width: rem(200);
      content: '';
      opacity: 0.5;
      transform: skew(135deg);
      z-index: -1;
      background-color: rgb(165 5 10);
    }
  }

  &__social {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      display: block;
      width: rem(24);
      height: rem(24);
      margin-inline-end: rem(16);

      a {
        display: block;
        width: rem(24);
        height: rem(24);
        background-color: var(--bs-white);
        scale: 1;
        transition: var(--transition);

        &:hover {
          transform: scale(1.1);
        }

        &.fb {
          mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO30uY2xzLTJ7Y2xpcC1wYXRoOnVybCgjY2xpcC1wYXRoKTt9LmNscy0ze2ZpbGw6I2ZmZjtmaWxsLXJ1bGU6ZXZlbm9kZDt9PC9zdHlsZT48Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIxMS4wMiIgeT0iMC45MyIgd2lkdGg9IjExLjU2IiBoZWlnaHQ9IjIyLjE0Ii8+PC9jbGlwUGF0aD48L2RlZnM+PGcgaWQ9IkxheWVyXzEiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PGcgY2xhc3M9ImNscy0yIj48ZyBpZD0iRmFjZWJvb2siPjxwYXRoIGlkPSJQYXRoXzM4IiBkYXRhLW5hbWU9IlBhdGggMzgiIGNsYXNzPSJjbHMtMyIgZD0iTTE4LjUyLDIzLjA3VjEzSDIybC40OS0zLjkzSDE4LjUyVjYuNTljMC0xLjExLjM2LTIsMi0yaDIuMDlWMS4wNWMtLjQ4LDAtMS43MS0uMTItMy4wNy0uMTItMi45NSwwLTUsMS44NS01LDUuMTd2M0gxMVYxM2gzLjQ0VjIzLjA3WiIvPjwvZz48L2c+PC9nPjxnIGlkPSJzcGFjZXJzIj48cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIvPjwvZz48L3N2Zz4=');
        }

        &.tw {
          mask: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogI2ZmZjsKICAgICAgICBzdHJva2Utd2lkdGg6IDBweDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTguMzIsMi4wNmgzLjM4bC03LjM3LDguNDIsOC42NywxMS40NmgtNi43OWwtNS4zMi02Ljk1LTYuMDgsNi45NUgxLjQzbDcuODgtOS4wMUwxLDIuMDZoNi45Nmw0LjgsNi4zNSw1LjU2LTYuMzVaTTE3LjE0LDE5LjkzaDEuODdMNi45NCwzLjk3aC0yLjAxbDEyLjIsMTUuOTZaIi8+Cjwvc3ZnPg==');
        }

        &.ig {
          mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO30uY2xzLTJ7Y2xpcC1wYXRoOnVybCgjY2xpcC1wYXRoKTt9LmNscy0ze2ZpbGw6I2ZmZjtmaWxsLXJ1bGU6ZXZlbm9kZDt9PC9zdHlsZT48Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIwLjkzIiB5PSIwLjkzIiB3aWR0aD0iMjIuMTQiIGhlaWdodD0iMjIuMTQiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIj48ZyBjbGFzcz0iY2xzLTIiPjxnIGlkPSJJbnN0YWdyYW0iPjxwYXRoIGlkPSJQYXRoXzQwIiBkYXRhLW5hbWU9IlBhdGggNDAiIGNsYXNzPSJjbHMtMyIgZD0iTTEyLDIuOUEzMi43NCwzMi43NCwwLDAsMSwxNi40MywzYTUuNzYsNS43NiwwLDAsMSwyLjA5LjM3LDQuMzMsNC4zMywwLDAsMSwyLjA5LDIuMDlBNS43Niw1Ljc2LDAsMCwxLDIxLDcuNTdjMCwxLjExLjEyLDEuNDguMTIsNC40M0EzMi43NCwzMi43NCwwLDAsMSwyMSwxNi40M2E1Ljc2LDUuNzYsMCwwLDEtLjM3LDIuMDksNC4zMyw0LjMzLDAsMCwxLTIuMDksMi4wOSw1Ljc2LDUuNzYsMCwwLDEtMi4wOS4zN2MtMS4xMSwwLTEuNDguMTItNC40My4xMkEzMi43NCwzMi43NCwwLDAsMSw3LjU3LDIxYTUuNzYsNS43NiwwLDAsMS0yLjA5LS4zNyw0LjMzLDQuMzMsMCwwLDEtMi4wOS0yLjA5QTUuNzYsNS43NiwwLDAsMSwzLDE2LjQzQzMsMTUuMzIsMi45LDE1LDIuOSwxMkEzMi43OCwzMi43OCwwLDAsMSwzLDcuNTdhNS43Niw1Ljc2LDAsMCwxLC4zNy0yLjA5LDQuNCw0LjQsMCwwLDEsLjg2LTEuMjMsMi4wOCwyLjA4LDAsMCwxLDEuMjMtLjg2QTUuNzYsNS43NiwwLDAsMSw3LjU3LDMsMzIuNzQsMzIuNzQsMCwwLDEsMTIsMi45bTAtMmEzOC4zNiwzOC4zNiwwLDAsMC00LjU1LjEyLDcuNjEsNy42MSwwLDAsMC0yLjcxLjUsNC43LDQuNywwLDAsMC0yLDEuMjMsNC43LDQuNywwLDAsMC0xLjIzLDIsNS42Miw1LjYyLDAsMCwwLS41LDIuNzFBMzguMzYsMzguMzYsMCwwLDAsLjkzLDEyYTM4LjM2LDM4LjM2LDAsMCwwLC4xMiw0LjU1LDcuNjEsNy42MSwwLDAsMCwuNSwyLjcxLDQuNzMsNC43MywwLDAsMCwxLjIzLDIsNC44LDQuOCwwLDAsMCwyLDEuMjNBNy42LDcuNiwwLDAsMCw3LjQ1LDIzYTM0LjUzLDM0LjUzLDAsMCwwLDQuNTUuMTJBMzQuNTMsMzQuNTMsMCwwLDAsMTYuNTUsMjNhNy42LDcuNiwwLDAsMCwyLjcxLS40OSw1LjE5LDUuMTksMCwwLDAsMy4yLTMuMkE3Ljc4LDcuNzgsMCwwLDAsMjMsMTYuNTVjMC0xLjIzLjEyLTEuNi4xMi00LjU1QTM0LjUzLDM0LjUzLDAsMCwwLDIzLDcuNDVhNy43Nyw3Ljc3LDAsMCwwLS40OS0yLjcsNC44OCw0Ljg4LDAsMCwwLTEuMjMtMiw0LjczLDQuNzMsMCwwLDAtMi0xLjIzLDcuNjEsNy42MSwwLDAsMC0yLjcxLS41QTM4LjM2LDM4LjM2LDAsMCwwLDEyLC45M20wLDUuNDFhNS41Nyw1LjU3LDAsMCwwLTUuNjYsNS40OFYxMkE1LjY2LDUuNjYsMCwxLDAsMTIsNi4zNGgwbTAsOS4zNWEzLjYzLDMuNjMsMCwwLDEtMy42OS0zLjU2VjEyYTMuNjMsMy42MywwLDAsMSwzLjU2LTMuNjlIMTJhMy42MywzLjYzLDAsMCwxLDMuNjksMy41NlYxMmEzLjYzLDMuNjMsMCwwLDEtMy41NiwzLjY5SDEyTTE3LjksNC43NEExLjM2LDEuMzYsMCwxLDAsMTkuMjUsNi4xLDEuMzUsMS4zNSwwLDAsMCwxNy45LDQuNzQiLz48L2c+PC9nPjwvZz48ZyBpZD0ic3BhY2VycyI+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiLz48L2c+PC9zdmc+');
        }

        &.yt {
          mask: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIj4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMi4xLjAgQnVpbGQgMTg2KSAgLS0+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5zdDAgewogICAgICAgIGZpbGw6ICNmZmY7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxnIGlkPSJMYXllcl8xMSIgZGF0YS1uYW1lPSJMYXllcl8xIj4KICAgIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMzUuMyw0NC43Yy0xLjQtNS40LTUuNy05LjctMTEuMS0xMS4xLTkuNy0yLjYtNDkuMS0yLjYtNDkuMS0yLjYsMCwwLTM5LjQsMC00OS4xLDIuNi01LjQsMS40LTkuNyw1LjctMTEuMSwxMS4xLTIuNiw5LjctMi42LDMwLjMtMi42LDMwLjMsMCwwLDAsMjAuNiwyLjYsMzAuMywxLjQsNS40LDUuNyw5LjcsMTEuMSwxMS4xLDkuNywyLjYsNDkuMSwyLjYsNDkuMSwyLjYsMCwwLDM5LjQsMCw0OS4xLTIuNiw1LjQtMS40LDkuNy01LjcsMTEuMS0xMS4xLDIuNi05LjcsMi42LTMwLjMsMi42LTMwLjMsMCwwLDAtMjAuNi0yLjYtMzAuM1pNNjIuNCw5My44di0zNy43bDMyLjYsMTguOC0zMi42LDE4LjhaIi8+CiAgPC9nPgo8L3N2Zz4=');
        }

        &.wc {
          mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmZkZmQ7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJzcGFjZXJzIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xOC4xNywxNi4xM0EuODMuODMsMCwxLDEsMTksMTUuM2EuODMuODMsMCwwLDEtLjgzLjgzWm0tNC4xNCwwYS44My44MywwLDEsMSwuODMtLjgzLjgzLjgzLDAsMCwxLS44My44M1ptNi4xNCw0Ljc0QTQuODYsNC44NiwwLDAsMCwyMi4zMSwxN2MwLTIuODYtMi43OC01LjE4LTYuMjEtNS4xOFM5Ljg5LDE0LjEsOS44OSwxN3MyLjc4LDUuMTcsNi4yMSw1LjE3YTcuNDgsNy40OCwwLDAsMCwyLS4yOC41Ny41NywwLDAsMSwuMTgsMCwuNjQuNjQsMCwwLDEsLjMzLjFMMjAsMjIuN2EuMTkuMTksMCwwLDAsLjEyLDAsLjIxLjIxLDAsMCwwLC4yMS0uMjEuNDIuNDIsMCwwLDAsMC0uMTVzLS4xNy0uNjUtLjI4LTFhLjU5LjU5LDAsMCwxLDAtLjEzLjQuNCwwLDAsMSwuMTgtLjM0WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTExLjYzLDExLjI4YTEsMSwwLDEsMSwxLTEsMSwxLDAsMCwxLTEsMVptLTUsMGExLDEsMCwxLDEsMS0xLDEsMSwwLDAsMS0xLDFaTTkuMTQsNi4wNkM1LDYuMDYsMS42OSw4Ljg0LDEuNjksMTIuMjhBNS44NCw1Ljg0LDAsMCwwLDQuMjYsMTdhLjQ5LjQ5LDAsMCwxLC4xOC41N2wtLjMzLDEuMjVhLjU4LjU4LDAsMCwwLDAsLjE4LjI1LjI1LDAsMCwwLC4yNS4yNS4yNC4yNCwwLDAsMCwuMTQsMGwxLjYzLS45NGEuODMuODMsMCwwLDEsLjQtLjExLjc4Ljc4LDAsMCwxLC4yMiwwLDguNzUsOC43NSwwLDAsMCwyLjQzLjM0aC40MUE0Ljg5LDQuODksMCwwLDEsOS4zLDE3YzAtMy4xMywzLTUuNjcsNi44LTUuNjdoLjQxYy0uNTctMy0zLjY1LTUuMjQtNy4zNy01LjI0WiIvPjwvZz48L3N2Zz4=');
        }

        &.li {
          mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDpub25lO30uY2xzLTJ7Y2xpcC1wYXRoOnVybCgjY2xpcC1wYXRoKTt9LmNscy0ze2ZpbGw6I2ZmZjt9PC9zdHlsZT48Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+PHJlY3QgY2xhc3M9ImNscy0xIiB4PSIyLjQyIiB5PSI2LjY0IiB3aWR0aD0iMTYuNDYiIGhlaWdodD0iMTYuNDMiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIj48ZyBjbGFzcz0iY2xzLTIiPjxnIGlkPSJMaW5rZWRfSW4iIGRhdGEtbmFtZT0iTGlua2VkIEluIj48cGF0aCBpZD0iUGF0aF8yNjUiIGRhdGEtbmFtZT0iUGF0aCAyNjUiIGNsYXNzPSJjbHMtMyIgZD0iTTQuNCw2LjY0YTIsMiwwLDEsMCwyLDJoMEEyLDIsMCwwLDAsNC40LDYuNjRaIi8+PHJlY3QgaWQ9IlJlY3RhbmdsZV8zNzkiIGRhdGEtbmFtZT0iUmVjdGFuZ2xlIDM3OSIgY2xhc3M9ImNscy0zIiB4PSIyLjY5IiB5PSIxMi4wOSIgd2lkdGg9IjMuNDEiIGhlaWdodD0iMTAuOTgiLz48cGF0aCBpZD0iUGF0aF8yNjYiIGRhdGEtbmFtZT0iUGF0aCAyNjYiIGNsYXNzPSJjbHMtMyIgZD0iTTE0Ljc5LDExLjgyYTMuNTksMy41OSwwLDAsMC0zLjIzLDEuNzdoLS4wNXYtMS41SDguMjR2MTFoMy40MVYxNy42NGMwLTEuNDMuMjctMi44MiwyLTIuODJzMS43NywxLjY0LDEuNzcsMi45MXY1LjM0aDMuNDF2LTZDMTguODgsMTQuMDksMTguMjQsMTEuODIsMTQuNzksMTEuODJaIi8+PHBhdGggaWQ9IlBhdGhfMjY3IiBkYXRhLW5hbWU9IlBhdGggMjY3IiBjbGFzcz0iY2xzLTMiIGQ9Ik02LjEsMjMuMDdIMi42OXYtMTFINi4xWk00LjQsMTAuNTlhMiwyLDAsMSwxLDItMmgwQTIsMiwwLDAsMSw0LjQsMTAuNTlaTTE4Ljg4LDIzLjA3SDE1LjQ3VjE3LjczYzAtMS4yNywwLTIuOTEtMS43Ny0yLjkxcy0yLDEuMzktMiwyLjgydjUuNDNIOC4yNHYtMTFoMy4yN3YxLjVoLjA1YTMuNTksMy41OSwwLDAsMSwzLjIzLTEuNzdjMy40NSwwLDQuMDksMi4yNyw0LjA5LDUuMjNaIi8+PC9nPjwvZz48L2c+PGcgaWQ9InNwYWNlcnMiPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+PC9nPjwvc3ZnPg==');
        }
      }
    }
  }

  &__logo {
    text-align: center;
    fill: var(--bs-white);

    a {
      display: block;
    }

    &--img {
      width: rem(115);
    }
  }

  @include breakpoint(xsmall) {
    &__membership {
      br {
        display: none;
      }
    }
  }

  @include breakpoint(small) {
    &__links {
      display: flex;
      justify-content: space-between;
    }
    &-menu {
      ul li a.phone {
        display: inline-block;
        height: auto;
        font-weight: inherit;
        background-color: transparent;
        cursor: text;
        margin: 0;
        padding: 0;
        font-size: inherit;

        &::before {
          display: none;
        }
      }
    }
  }

  @include breakpoint(medium) {
    &-menu {
      &__title {
        font-size: rem(20);
        margin-block-end: rem(10);
      }

      ul li a {
        font-size: rem(18);
        font-weight: 300;
      }
    }

    &__inner {
      padding: rem(60) rem(20) rem(40);
      position: relative;
      z-index: 20;
    }

    &__bottom {
      margin-block-end: 0;
      padding-block: rem(30);
      flex-direction: row;
      justify-content: space-between;
    }

    &__copy {
      margin-inline-end: auto;
    }
  }
}
