@use '../util' as *;

.hero {
  position: relative;
  width: 100%;
  margin-inline: auto;
  margin-block-start: rem(-30);
  max-width: var(--default-page-width);
  min-height: rem(175);

  &__image {
    img {
      margin-inline: auto;
      width: 100%;
      box-shadow: 0 3px 3px 3px hsl(from var(--bs-black) h s 55%);
    }
  }

  &__body {
    position: absolute;
    bottom: rem(28);
    width: 100%;
    text-align: center;

    h2 {
      font-family: var(--ff-primary);
      margin-bottom: rem(24);
      color: var(--bs-white);
      text-transform: uppercase;
      font-size: rem(20);
      line-height: 130%;
      letter-spacing: 2%;
      max-width: rem(220);
      margin-inline: auto;
    }

    .btn {
      text-transform: uppercase;
      height: rem(36);
      letter-spacing: 2%;
      font-weight: 700;
      font-size: rem(12);
    }
  }

  @include breakpoint(small) {
    &__image {
      img {
        box-shadow: none;
      }
    }

    &__body {
      left: rem(42);
      bottom: rem(42);
      text-align: left;

      h2 {
        font-size: rem(24);
        max-width: rem(275);
        margin-inline-start: initial;
        margin-inline-end: auto;
      }
    }
  }

  @include breakpoint(medium) {
    border-top: rem(1) solid var(--clr-gray-200);

    &__body {
      left: rem(72);
      bottom: rem(72);
      h2 {
        font-size: rem(36);
        max-width: rem(385);
        text-wrap: initial;
      }

      .btn {
        height: rem(39);
        font-size: rem(14);
      }
    }
  }

  @include breakpoint(large) {
    &__body {
      h2 {
        font-size: rem(40);
        max-width: rem(450);
      }

      .btn {
        height: rem(41);
        font-size: rem(16);
      }
    }
  }
}

.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(14);
  font-weight: 700;
  text-wrap: balance;
  letter-spacing: 5%;
  margin: 0;
  padding: rem(40) rem(45);
  color: hsl(from var(--bs-primary) h s l);

  img {
    width: rem(9.85);
    height: rem(20);
  }

  @include breakpoint(medium) {
    font-size: rem(16);
  }

  @include breakpoint(large) {
    font-size: rem(20);
  }
}
