@use '../util' as *;

.hero {
  position: relative;
  width: 100%;
  margin-inline: auto;
  max-width: var(--default-page-width);
  min-height: rem(175);

  &__image {
    img {
      margin-inline: auto;
      width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(10);
    color: var(--bs-primary);
    margin: 0 auto;
    width: 90%;

    &--header {
      font-weight: 500;
      letter-spacing: rem(-0.5);
      font-size: rem(28);
      text-wrap: balance;
      margin-block-end: rem(20);
    }

    p {
      margin-block-end: rem(20);
    }
  }

  @include breakpoint(small) {
    &__body {
      &--header {
        font-size: rem(35);
        margin-block-end: rem(15);
      }

      p {
        margin-block-end: rem(15);
      }
    }
  }

  @include breakpoint(medium) {
    border-top: rem(1) solid var(--clr-medium-gray);
    &__image {
      height: rem(600);
      overflow: clip;
    }

    &__body {
      padding: rem(15) rem(5) rem(20);
      width: rem(480);

      &--header {
        line-height: rem(30);
      }
    }
  }
}

.tagline {
  font-family: inherit;
  text-align: center;
  margin: 0;
  background-color: var(--clr-medium-gray);
  color: var(--bs-primary);
  padding: rem(10);
  font-style: italic;
  text-transform: uppercase;
  font-size: rem(18);
  font-weight: 500;
  text-wrap: balance;
  letter-spacing: rem(0.75);

  @include breakpoint(small) {
    font-size: rem(22);
  }
}
