@use '../util' as *;

.hero {
  position: relative;
  width: 100%;
  margin-inline: auto;
  margin-block-start: rem(-30);
  max-width: var(--default-page-width);
  min-height: rem(175);

  &__image {
    img {
      margin-inline: auto;
      width: 100%;
      box-shadow: 0 3px 3px 3px hsl(from var(--bs-black) h s 55%);
    }
  }

  &__body {
    position: absolute;
    bottom: rem(28);
    width: 100%;
    max-width: rem(240);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    h2 {
      font-family: var(--ff-primary);
      margin-bottom: rem(24);
      color: var(--bs-white);
      text-transform: uppercase;
      font-size: clamp(1.25rem, 0.7432rem + 2.1622vw, 2.5rem);
      line-height: 130%;
      letter-spacing: 2%;
      margin-inline: auto;
    }

    .btn {
      text-transform: uppercase;
      height: rem(36);
      letter-spacing: 2%;
      font-weight: 700;
      font-size: clamp(0.75rem, 0.6486rem + 0.4324vw, 1rem);
    }
  }

  @include breakpoint(small) {
    &__image {
      img {
        box-shadow: none;
      }
    }

    &__body {
      left: rem(42);
      bottom: rem(42);
      text-align: left;
      max-width: rem(345);
      transform: translateX(0);

      h2 {
        width: 100%;
        margin-inline-start: initial;
        margin-inline-end: 0;
      }
    }
  }

  @include breakpoint(medium) {
    border-top: rem(1) solid var(--clr-gray-200);

    &__body {
      left: rem(72);
      bottom: rem(72);
      max-width: rem(400);
      h2 {
        text-wrap: initial;
      }

      .btn {
        height: rem(39);
      }
    }
  }

  @include breakpoint(large) {
    &__body {
      max-width: rem(450);

      .btn {
        height: rem(41);
      }
    }
  }
}

.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(5);
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.723rem + 0.6486vw, 1.25rem);
  font-weight: 700;
  // text-wrap: balance;
  letter-spacing: 5%;
  margin: 0;
  padding: rem(40) rem(45);
  color: hsl(from var(--bs-primary) h s l);

  svg {
    // width: rem(9.85);
    height: rem(20);
  }

  @include breakpoint(small) {
    padding-block: rem(42);
  }

  @include breakpoint(medium) {
    padding-block: rem(48);
  }

  @include breakpoint(large) {
    padding-block: rem(72);
  }
}
