@use '../util' as *;

#waa-nav {
  block-size: rem(148);
  position: relative;
  inline-size: min(1440px, 100%);
  margin-inline: auto;

  h2.store-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(-17);

    inline-size: rem(206);
    block-size: rem(34);
    background-color: var(--bs-primary);
    color: var(--bs-white);
    transition: var(--transition);

    &:hover {
      background: hsl(from var(--bs-primary) h s 35%);
    }

    a {
      font-size: rem(20);
      font-weight: 600;
      text-transform: uppercase;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .navbar {
    border: none;
    text-transform: uppercase;
    color: var(--bs-secondary);
    position: relative;
    block-size: rem(130);
    padding: 0;

    &-toggler {
      border-color: #ddd;
      padding: rem(20) rem(20);
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: transparent;

      img {
        block-size: rem(20);
        inline-size: rem(20);
      }
    }

    &-brand {
      inline-size: rem(206);
      block-size: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      padding: 0;
      margin: 0;
      transform: translateX(-50%);
      top: 0;
      display: block;
      z-index: 10;

      .waa-logo {
        inline-size: rem(40);
        block-size: rem(62.83);
        margin: auto;
        position: absolute;
        top: rem(36);
        left: 50%;
        transform: translateX(-50%);
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: rem(-17);
        top: auto;
        margin: 0 auto;
        padding: 0;
        block-size: rem(34);
        inline-size: 100%;
        font-size: rem(20);
        background-color: var(--bs-primary);
        font-weight: 600;
        color: var(--bs-white);
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .cart {
      &-mobile {
        position: absolute;
        right: rem(22);
        block-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: rem(10) rem(20);

          img {
            block-size: rem(20);
          }

          svg {
            .st0 {
              fill: none;
              stroke: var(--bs-secondary);
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 3px;
            }

            .st1 {
              fill: var(--bs-secondary);
            }
            inline-size: rem(26.5);
            block-size: rem(20);
            transition: var(--transition);
          }

          &:hover {
            svg {
              fill: var(--bs-primary);
            }
          }
        }
      }

      &-toggle {
        display: none;
      }
    }

    &-collapse {
      position: absolute;
      top: rem(130);
      inline-size: 100%;
      z-index: 10;
    }

    &-left,
    &-right {
      display: flex;
      flex-direction: column;

      li:last-child {
        a {
          border-bottom: none;
        }
      }

      li a {
        justify-content: flex-start;
        letter-spacing: 2%;

        // &.dropdown-toggle::after {
        //   position: absolute;
        //   top: 50%;
        //   right: rem(20);
        // }
      }
    }

    &-right {
      .search {
        position: relative;

        &-field {
          display: block;
          text-transform: uppercase;
          background: transparent;
          border-radius: 0;
          font-weight: 400;
          font-size: rem(14);
          font-family: inherit;
          padding-inline-start: rem(40);

          &::placeholder {
            font-size: rem(14);
            font-family: inherit;
            font-weight: 400;
          }
        }

        &-submit {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;

          cursor: pointer;
          transition: var(--transition);

          svg {
            fill: var(--bs-secondary);
            block-size: rem(20);
            inline-size: rem(20);
            .st0 {
              stroke-linecap: round;
            }

            .st0,
            .st1 {
              fill: none;
              stroke: var(--bs-secondary);
              stroke-miterlimit: 10;
              stroke-width: rem(3);
            }
          }
        }
      }

      .account {
        &-toggle {
          position: static;

          a {
            display: flex;
            align-items: center;
            gap: rem(16);
          }
        }

        &-img {
          block-size: rem(20);
          inline-size: auto;
          transition: var(--transition);
          .st0 {
            stroke-linecap: round;
            stroke-linejoin: round;
          }

          .st0,
          .st1 {
            fill: none;
            stroke: var(--bs-secondary);
            stroke-width: rem(3);
          }

          .st1 {
            stroke-miterlimit: 10;
          }
        }
      }
    }

    li {
      position: static;
      background-color: var(--clr-gray-50);
      font-style: inherit;
    }

    li a {
      border-bottom: rem(1) solid #ccc;
      padding: rem(14);
      font-size: rem(14);
      color: var(--bs-secondary);
      text-decoration: none;
      display: block;
      inline-size: 100%;
      font-weight: 100;
      position: relative;

      &.show-all {
        text-align: center;
        font-weight: 500;
        font-size: rem(20);
        padding: rem(14);
        line-height: 1;
        border-top: rem(1) solid var(--clr-light-gray-2);
        transition: var(--transition);

        &::after {
          content: none !important;
        }
      }
    }
  } //end .navbar

  // Dropdown menus
  .dropdown {
    &-toggle {
      &::before {
        position: absolute;
        content: '';
        right: rem(20);
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        margin-inline-end: rem(3.75);
        vertical-align: rem(3.75);
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: none;
        border-left: 0.3em solid transparent;
      }
      &::after {
        display: none;
      }
    }

    &-menu {
      position: static;
      margin: 0;
      padding: 0;
      background-color: var(--clr-light-gray-2);
      font-size: rem(12);
      inline-size: 100%;
      border: none;
      border-radius: 0;
      box-shadow: 0 rem(3) rem(4) rem(1) rgb(0 0 0 / 0.25);

      [class^='col'] {
        padding: 0;
      }

      ul {
        list-style: none;
        padding: 0;
      }
      li {
        background-color: var(--clr-light-gray-2);
      }
    }

    &-header {
      position: relative;
      border-bottom: rem(1) solid var(--clr-gray-200);
      padding: rem(14);
      font-size: rem(14);
      color: var(--bs-secondary);
      display: block;
      inline-size: 100%;
      font-weight: 600;
    }
  }
} /* end #waa-nav */

.backtotop {
  display: none;
  position: fixed;
  z-index: 9999999999999;
  bottom: rem(20);
  right: rem(20);
  inline-size: rem(50);
  block-size: rem(50);

  a {
    &:link,
    &:visited {
      display: block;
      opacity: 1;
      inline-size: rem(50);
      block-size: rem(50);
      background-color: rgba(#c0c0c0, 0.7);
      border: rem(2) solid rgba(#c0c0c0, 0.8);
      border-radius: rem(4);
      position: absolute;
      transition: all 0.2s ease;
    }

    &:hover {
      transform: translateY(rem(-3));
      background-color: rgba(#c0c0c0, 0.8);
      border-color: #c0c0c0;
      box-shadow: 0 rem(1) rem(2) rgba(var(--bs-secondary), 0.6);
    }
    &:active {
      transform: translateY(rem(-1));
      box-shadow: 0 rem(2) rem(4) rgba(var(--bs-secondary), 0.8);
    }
  }

  em {
    @include absCenter;
    color: var(--bs-secondary);
    font-size: rem(20);
  }
}

@include breakpoint(small) {
  #waa-nav {
    block-size: rem(144);

    .navbar {
      block-size: rem(126);
      &-collapse {
        top: rem(126);
      }
    }
  }

  .dropdown:hover > .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu.show {
    display: block;
  }
}

@include breakpoint(medium) {
  #waa-nav {
    block-size: rem(165);

    h2.store-name {
      inline-size: rem(243);
      block-size: rem(40);
      bottom: rem(-20);

      a {
        font-size: rem(24);
      }
    }

    .navbar {
      block-size: rem(144);

      &-collapse {
        top: rem(144);
      }

      &-brand {
        inline-size: rem(50);
        .waa-logo {
          inline-size: rem(45);
          block-size: rem(70.68);
          top: rem(42);
        }
      }
    }

    .dropdown {
      &-toggle {
        &::before {
          display: none;
        }

        &::after {
          display: block;
        }
      }
    }
  }

  .backtotop {
    bottom: rem(60);
    right: rem(60);

    a {
      &:link,
      &:visited {
        block-size: rem(40);
        inline-size: rem(40);
      }
    }
  }
}

@include breakpoint(bootstrap) {
  #waa-nav {
    .navbar {
      &-toggler {
        display: block;
      }

      &-expand-lg {
        .navbar-collapse {
          display: none !important;

          &.show {
            display: block !important;
          }
        }
      }
    }
  }
}

@include breakpoint(large) {
  #waa-nav {
    block-size: rem(174);

    h2.store-name {
      inline-size: rem(306);
      block-size: rem(48);
      bottom: rem(-24);

      a {
        font-size: rem(30);
      }
    }

    .navbar {
      &-brand {
        .waa-logo {
          inline-size: rem(50);
          block-size: rem(78.54);
          top: rem(37);
        }
      }

      padding-inline: rem(72);

      &-toggler {
        display: none;
      }

      .cart-mobile {
        display: none;
      }

      &-expand-lg {
        .navbar-collapse {
          display: flex !important;
          align-items: center;
          position: initial;
          z-index: initial;
        }
      }

      &-left,
      &-right {
        flex-direction: row;
        align-items: center;
      }

      &-left {
        padding-inline-start: rem(15);
        .nav-item {
          margin-inline-end: rem(16);

          a {
            border-bottom: none;
            padding: 0;
            font-size: rem(13);
            font-weight: 400;
            transition: var(--transition);

            &:hover {
              color: var(--bs-primary);

              &::after {
                color: var(--bs-secondary);
              }
            }

            &::after {
              border: none;
            }
          }
        }
        .nav-item:not(:last-child) {
          a::after {
            content: '/';
            position: absolute;
            right: rem(-12.5);
            top: rem(-1);
            color: hsl(from var(--bs-primary) h s l);
          }
        }
      }

      &-right {
        padding-inline-start: rem(20);

        .search {
          block-size: rem(40);

          &-field {
            inline-size: rem(200);
            margin-inline-end: rem(15);
            background-color: var(--bs-white);
            font-size: rem(12);
            font: inherit;

            &::placeholder {
              font-size: rem(12);
              text-transform: uppercase;
            }
          }
        }

        .cart-toggle {
          display: block;
        }

        .account-toggle,
        .cart-toggle {
          a {
            padding: rem(8);
            border-bottom: none;

            span {
              display: none;
            }

            &::after {
              border: none;
            }
          }
        }

        .cart-toggle {
          a {
            padding-inline-end: 0;
          }
        }

        .cart--icon {
          .st0 {
            fill: none;
            stroke: var(--bs-secondary);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 3px;
          }

          .st1 {
            fill: var(--bs-secondary);
          }
          inline-size: rem(26.5);
          block-size: rem(20);
          transition: var(--transition);
        }
      }

      li {
        background-color: transparent;
      }

      &-left {
        padding-inline-start: 0;
        .nav-item a {
          font-size: rem(14);
        }
      }

      &-right {
        .search {
          &-field {
            inline-size: rem(332);
            border-color: var(--bs-secondary);
            padding-inline-start: rem(10);
            margin-inline-end: rem(5);
          }

          &-submit {
            left: initial;
            right: rem(10);

            cursor: pointer;
            transition: var(--transition);
          }
        }
      }
    }

    .dropdown {
      &-menu {
        position: absolute;
        background-color: var(--clr-gray-50);
        // background: rgba(255 255 255 / 0.5);
        padding: rem(25) rem(10) 0;
        top: rem(150) !important;
        left: 0;
        right: 0;

        [class^='col'] {
          padding-inline-start: rem(20);
        }

        li {
          background-color: transparent;

          a {
            line-height: 1.4 !important;
            padding-block: rem(8) !important;

            &::after {
              content: none !important;
            }
          }
        }

        &.my-account {
          max-inline-size: rem(300);
          left: initial;
          padding-block-end: rem(15);
        }
      }

      &-header {
        border: none;
        padding: 0;
      }
    }
  }
}
