@use '../util' as *;

#waa-nav {
  display: flex;
  align-items: center;
  height: rem(150);
  background-color: transparent;
  max-width: rem(1325);
  margin-inline: auto;

  @include breakpoint(medium) {
    height: rem(165);
  }
}

.navigation {
  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr rem(206) 1fr;
    height: rem(80);
    width: 100%;
  }

  &__brand {
    text-align: center;
    img {
      height: rem(80);
      margin-inline: auto;
    }

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rem(206);
      height: rem(34);
      background-color: hsl(from var(--bs-primary) h s l);
      color: var(--bs-white);
      text-transform: uppercase;
      font-size: rem(20);
      font-weight: 500;
    }
  }

  &__left ul,
  &__right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    gap: rem(8);
  }

  &__left ul {
    li {
      a {
        color: var(--bs-secondary);
      }

      &:not(:last-child) {
        a::after {
          content: '|';
          font-style: italic;
          color: hsl(from var(--bs-primary) h s l);
          margin-inline-start: rem(8);
        }
      }
    }
  }

  &__right ul {
    justify-content: flex-end;
  }
}

.backtotop em {
  @include absCenter;
  color: var(--bs-secondary);
  font-size: rem(20);
}
