@use '../util' as *;

#waa-nav {
  position: relative;
  display: flex;
  align-items: center;
  height: rem(150);
  background-color: transparent;
  max-width: rem(1325);
  margin-inline: auto;

  @include breakpoint(medium) {
    height: rem(165);
  }
}

.navigation {
  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr rem(206) 1fr;
    position: relative;
    height: rem(80);
    width: 100%;
  }

  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(-17);
    margin: 0;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(206);
    height: rem(34);
    background-color: hsl(from var(--bs-primary) h s l);
    color: var(--bs-white);
    text-transform: uppercase;
    font-size: rem(20);
    font-weight: 500;
  }

  &__brand {
    text-align: center;
    img {
      height: rem(80);
      margin-inline: auto;
    }
  }

  &__left ul,
  &__right ul {
    display: none;
  }

  @include breakpoint(medium) {
    &__title {
      width: rem(243);
      height: rem(40);
      bottom: rem(-20);
      font-size: rem(24);
    }
  }

  @include breakpoint(large) {
    &__title {
      width: rem(306);
      height: rem(48);
      bottom: rem(-24);
      font-size: rem(30);
    }
    &__left ul,
    &__right ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      gap: rem(8);
    }
    &__left ul,
    &__right ul {
      li {
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: var(--bs-secondary);
          text-decoration: none;
          transition: var(--transition);
          line-height: 2;

          &:hover,
          &:focus-visible {
            color: hsl(from var(--bs-primary) h s l);
            text-decoration: none;
          }
        }
      }
    }

    &__left ul {
      li {
        &:not(:last-child) {
          a::after {
            content: '|';
            font-style: italic;
            color: hsl(from var(--bs-primary) h s l);
            margin-inline-start: rem(8);
          }
        }
      }
    }

    &__right ul {
      justify-content: flex-end;

      li {
        a {
          padding: rem(8);

          svg {
            height: rem(20);
            stroke: var(--bs-secondary);
            stroke-width: rem(3);
            fill: none;
            transition: var(--transition);
          }

          &:hover {
            svg {
              stroke: hsl(from var(--bs-primary) h s l);
              stroke-width: rem(3);
              fill: none;
            }
          }
        }
      }
    }
  }
}

// .backtotop em {
//   @include absCenter;
//   color: var(--bs-secondary);
//   font-size: rem(20);
// }
