@use '../util' as *;

.search {
  &__overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: var(--transition);

    &.open {
      transition: var(--transition);
      right: 0;
      visibility: visible;
      width: 100%;
      height: 100%;
      background-color: var(--bs-white);
      z-index: 999;

      .search__form-wrapper {
        @include absCenter;
        width: 100%;

        .search__form {
          position: relative;
          width: 100%;
          max-width: rem(400);
          padding: rem(20) 0;
          margin-inline: auto;

          &-input {
            .search-icon {
              display: none;
              position: absolute;
              top: 50%;
              right: rem(16);
              transform: translateY(-50%);
              background: none;
              border: none;

              svg {
                height: rem(30);
                width: rem(24);
                fill: var(--bs-gray-dark);
              }
            }
          }
        }
      }
    }
  }
}
