@use '../util' as *;

.search {
  &__overlay {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    z-index: 100;

    transition: all 0.25s ease-in-out;

    &.open {
      right: 0;
      background-color: var(--bs-white);

      .search__form-wrapper {
        position: relative;
        width: 100%;
        max-width: rem(350);
        margin-inline: auto;
        margin-block-start: 15%;
      }

      .btn.btn-close {
        position: absolute;
        top: rem(-60);
        right: 0;
        opacity: 0.65;

        svg {
          fill: var(--bs-primary);
        }

        &:hover {
          opacity: 1;
        }
      }

      .search__form-input {
        position: relative;
        width: 100%;

        .search.search-btn {
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: rem(16);
        }
      }
    }

    .btn.btn-close:focus,
    .btn.btn-close:focus-visible {
      box-shadow: none;
      outline: none;
    }

    @include breakpoint(small) {
      transition-duration: 0.5s;
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
