@use '../util' as *;

.grid {
  display: grid;

  &.home {
    margin-block-end: rem(30);
    padding-inline: rem(20);
    gap: rem(48);

    .grid__item {
      text-align: center;
    }

    .feature {
      display: flex;
      flex-direction: column;
      gap: rem(28);

      img {
        opacity: 1;
        transition: var(--transition);
        inline-size: 100%;
        margin-inline: auto;

        &:hover {
          opacity: 0.75;
        }
      }

      .feature-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(24);
        font-size: rem(14);
        text-box-trim: trim-both;
        text-box-edge: cap alphabetic;

        h3 {
          font-family: var(--ff-primary);
          margin: 0;
          margin-block-end: rem(8);
          font-weight: 700;
          font-size: rem(20);
          line-height: 1;
          text-transform: uppercase;
        }

        p {
          font-family: var(--ff-secondary);
          margin: 0;
        }

        &-link {
          text-transform: uppercase;
          font-size: inherit;
          font-weight: 500;
          color: hsl(from var(--bs-secondary) h s l);
          transition: var(--transition);
          position: relative;

          &::after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            block-size: rem(2);
            width: 100%;
            background-color: currentColor;
          }

          &:hover {
            text-decoration: none;
            opacity: 0.75;

            &::after {
              opacity: 0.75;
            }
          }
        }
      }
    }

    @include breakpoint(small) {
      grid-template-columns: repeat(2, 1fr);

      &.home {
        padding-inline: rem(42);
        gap: rem(14);

        &.feature {
          gap: rem(24);
        }
      }
    }

    @include breakpoint(medium) {
      &.home {
        padding-inline: rem(72);
        gap: rem(24);

        .feature {
          font-size: rem(16);
          .feature-body {
            h3 {
              font-size: rem(24);
            }
          }
        }
      }
    }

    @include breakpoint(large) {
      &.home {
        .feature {
          font-size: rem(20);
          .feature-body {
            h3 {
              font-size: rem(32);
            }
          }
        }
      }
    }
  }
}
