@use '../util' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(12);
  border-right: rem(1) solid transparent;
  border-radius: 0;
  font-weight: 500;
  height: rem(50);
  font-size: inherit;
  transition: var(--transition);

  &-primary {
    background-color: transparent;
    border-color: var(--bs-primary);
    color: var(--bs-primary);

    &:hover,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus,
    &-inverted {
      border-color: var(--bs-primary);
      background-color: var(--bs-primary);
      color: var(--bs-white);
    }

    &-inverted {
      &:hover,
      &:active,
      &:focus {
        color: var(--bs-white);
      }
    }
  }

  &-success {
    background-color: transparent;
    border-color: var(--bs-success);
    color: var(--bs-success);

    &:hover,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus,
    &-inverted {
      border-color: var(--bs-success);
      background-color: var(--bs-success);
      color: var(--bs-white);
    }
  }

  &-default {
    border-color: var(--bs-secondary);
    color: var(--bs-secondary);
  }

  &-disabled {
    cursor: not-allowed;
    background-color: var(--clr-disabled);
    border: rem(1) solid var(--clr-disabled);
    box-shadow: none;
    color: var(--bs-white);

    &:link,
    &:visited {
      color: var(--bs-white);
    }

    &:hover,
    &:active,
    &:active:focus {
      cursor: not-allowed;
      background-color: var(--clr-disabled);
      border: rem(1) solid var(--bs-secondary);
      box-shadow: none;
      color: var(--bs-white);
    }
  }

  &-secondary {
    background-color: transparent;
    border-color: var(--bs-secondary);
    color: var(--bs-secondary);

    &:link,
    &:visited {
      color: var(--bs-secondary);
    }

    &:hover,
    &:active,
    &:active:focus {
      color: var(--bs-white);
      border-color: var(--bs-primary);
      background-color: var(--bs-primary);
    }
  }

  &-rnd {
    border-radius: rem(100);
    padding: 0;
    width: rem(50);

    @include breakpoint(medium) {
      width: rem(30);
    }

    i {
      font-size: rem(35);
      padding-top: rem(5);

      @include breakpoint(medium) {
        font-size: rem(18);
      }
    }
  }

  &-container {
    button {
      border: none;
      background-color: transparent;
      color: var(--bs-primary);
      border-bottom: rem(1) solid var(--bs-primary);
      margin-bottom: rem(10);
    }
  }

  &:hover {
    text-decoration: none;
  }

  @include breakpoint(medium) {
    border-width: rem(1);
    height: rem(40);
  }
}
