@use '../util' as *;

#waa-nav {
  &.container {
    padding: 0;
    max-width: rem(1320);
  }
}

.navbar {
  border-bottom: rem(1) solid var(--bs-secondary);
  margin-block-end: rem(40);

  .container,
  .container-fluid {
    padding: 0;
  }

  &-toggler {
    margin-inline-end: rem(8);
    padding: rem(10);

    .icon-bar {
      display: block;
      width: rem(20);
      height: rem(2);
      border-radius: rem(1);
      background-color: var(--bs-gray-dark);
      transition: var(--transition);

      + .icon-bar {
        margin-top: rem(4);
      }
    }

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .middle-bar {
      opacity: 0;
    }

    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    &.collapsed {
      .top-bar,
      .bottom-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
      }
    }
  }

  &-collapse {
    position: absolute;
    top: rem(90);
    width: 100%;
    left: 0;
    z-index: 10;
  }

  &-brand {
    margin-inline-start: rem(8);
    margin-inline-end: auto;
    margin-block-end: rem(8);
    padding: 0;
    display: flex;
    align-items: center;
    height: rem(65);

    img {
      height: rem(65);
    }

    &-name {
      text-align: center;
      font-size: rem(20);
      margin: 0;
      margin-inline-start: rem(8);

      span {
        display: block;
      }
    }

    &:hover {
      text-decoration: none;
      color: var(--bs-primary);
    }
  }

  &-left {
    .dropdown {
      @include breakpoint(medium) {
        &:last-child {
          .dropdown-toggle {
            &::after {
              content: '';
            }
          }
        }
        &-toggle {
          &::after {
            content: '/';
            vertical-align: initial;
            margin-left: rem(15);
          }
        }
      }
    }
  }

  .nav-link {
    color: var(--bs-gray-dark);
    transition: var(--transition);
    padding: rem(10) rem(15);
    border-bottom: rem(1) solid var(--clr-medium-gray);
    justify-content: flex-start;
    text-transform: uppercase;

    svg {
      display: none;
    }

    &:hover {
      text-decoration: none;
      color: var(--bs-primary);
    }

    &::after {
      color: var(--bs-gray-dark);
    }

    &.show-all {
      text-align: center;
      font-weight: 700;
      font-size: rem(20);
      padding: rem(14);
      border-bottom: rem(1) solid var(--clr-medium-gray);
      transition: var(--transition);
    }
  }

  @include breakpoint(medium) {
    border: none;

    > .container,
    > .container-fluid {
      align-items: flex-end;
    }

    &-collapse {
      position: initial;
      width: auto;
    }

    &-brand {
      margin-inline-end: rem(32);
    }

    .nav-link {
      border: none;

      &.account-toggle {
        svg {
          display: inline-block;
          margin-inline-end: rem(8);
          fill: var(--bs-gray-dark);
          width: rem(16);
          height: rem(19);
        }
        span {
          display: none;
        }
      }
    }
  }
}

.search-btn {
  display: block;
  width: rem(19);
  height: rem(19);
  margin-inline-end: rem(16);
  background-color: var(--bs-gray-dark);
  mask: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzYzNjM2M7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGlkPSJQYXRoXzEzMzQiIGRhdGEtbmFtZT0iUGF0aCAxMzM0IiBjbGFzcz0iY2xzLTEiIGQ9Ik0yMSwxOS4yNGwtNC4xNS00LjE1YTguNjksOC42OSwwLDAsMCwxLjc2LTUuMjhBOC43NSw4Ljc1LDAsMCwwLDkuOTEsMWgtLjFBOC43NSw4Ljc1LDAsMCwwLDEsOS43di4xMWE4Ljc1LDguNzUsMCwwLDAsOC43LDguOGguMTFhOC42OSw4LjY5LDAsMCwwLDUuMjgtMS43NkwxOS4yNCwyMVpNMy41Miw5LjgxQTYuMjIsNi4yMiwwLDAsMSw5LjY4LDMuNTJoLjEzYTYuMjEsNi4yMSwwLDAsMSw2LjI4LDYuMTZ2LjEzYTYuMjEsNi4yMSwwLDAsMS02LjE2LDYuMjhIOS44MUE2LjIyLDYuMjIsMCwwLDEsMy41Miw5LjkzWiIvPjwvc3ZnPg==);

  @include breakpoint(medium) {
    order: 1;
    align-self: center;
    margin-block-start: rem(30);
  }
}

.cart {
  svg {
    fill: var(--bs-gray-dark);
    width: rem(26.5);
    height: rem(20);
    margin-inline-end: rem(16);
  }

  @include breakpoint(medium) {
    align-self: center;
    margin-block-start: rem(30);
    order: 1;
  }
}
