@use '../util' as *;

@property --clr-white {
  syntax: '<color>';
  inherits: true;
  initial-value: #fefefe;
}

@property --clr-primary {
  syntax: '<color>';
  inherits: true;
  initial-value: #c5050c;
}

:root {
  --bs-primary: var(--clr-primary);
  --bs-white: var(--clr-white);
  --bs-secondary: #4d4d4d;
  --bs-warning: #ffae00;
  --bs-success: #5cb85c;

  --clr-gray-50: #f3f3f3;
  --clr-gray-100: #dedede;
  --clr-gray-200: #cacaca;
  --clr-gray-300: #b5b5b5;
  --clr-gray-400: #a0a0a0;
  --clr-gray-500: #8c8c8c;
  --clr-gray-600: #777777;
  --clr-gray-700: #626262;
  --clr-gray-800: #4e4e4e;
  --clr-gray-900: #393939;

  --clr-disabled: #969696;

  // Font-family
  --ff-primary: 'Red Hat Text', sans-serif;
  --ff-secondary: 'Red Hat Display', sans-serif;

  --fs-default: #{rem(16)};
  --default-page-width: #{rem(1440)};

  @media (prefers-reduced-motion: no-preference) {
    --transition: all 0.3s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    --transition: none;
  }
}
