@use '../util' as *;

:root {
  --bs-white: #fefefe;
  --bs-primary: #c5050c;
  --bs-secondary: #4d4d4d;
  --bs-warning: #ffae00;
  --bs-success: #5cb85c;

  --clr-gray-50: #f3f3f3;
  --clr-gray-100: #dedede;
  --clr-gray-200: #cacaca;
  --clr-gray-300: #b5b5b5;
  --clr-gray-400: #a0a0a0;
  --clr-gray-500: #8c8c8c;
  --clr-gray-600: #777777;
  --clr-gray-700: #626262;
  --clr-gray-800: #4e4e4e;
  --clr-gray-900: #393939;

  --clr-dark-gray-100: #5b646b;
  --clr-dark-gray: #818181;

  --clr-light-gray: #f3f3f3;
  --clr-light-gray-2: #dddddd;
  --clr-light-gray-3: #f1f1f1;
  --clr-medium-gray: #cacaca;
  --clr-medium-gray-2: #e1e1e1;
  --clr-medium-gray-3: #b7b7b7;
  // --clr-dark-gray: #818181;
  --clr-disabled: #969696;

  // Font-family
  --ff-primary: 'Red Hat Text', sans-serif;
  --ff-secondary: 'Red Hat Display', sans-serif;

  --fs-default: #{rem(16)};
  --default-page-width: #{rem(1440)};

  @media (prefers-reduced-motion: no-preference) {
    --transition: all 0.3s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    --transition: none;
  }
}
